@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import 'overlayscrollbars/styles/overlayscrollbars.css';

@theme {
  --color-pane-bg: #FFFFFF;
  --color-pane-text: #45526D;
  --color-pane-text-dimmed: #AAB2C0;
  --color-pane-text-secondary: #8892A5;
  --color-pane-title: #1E2939;

  --color-main-bg: #faf5ff;
  --color-main-text: #45526D;
  --color-main-text-dimmed: #AAB2C0;
  --color-main-text-secondary: #8892A5;

  --color-grad-start: #9810FA;
  --color-grad-end: #4D37EF;
  --color-grad-text: #FFFFFF;
  --color-grad-text-dimmed: #E5E5F7;
  --color-primary: #7324F5;
  --color-secondary: #a855f7;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}

* {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  overflow: hidden;
  overscroll-behavior: none;
}

.grecaptcha-badge {
  z-index: 9999 !important;
}

@media (max-width: 768px) {
  .grecaptcha-badge {
    visibility: hidden !important;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s ease-out;
}

.slide-left-enter-from {
  opacity: 0;
  transform: translateX(20px);
}
.slide-left-leave-to {
  opacity: 0;
  transform: translateX(-20px);
}
.slide-right-enter-from {
  opacity: 0;
  transform: translateX(-20px);
}
.slide-right-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.2s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(20px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}